@import "reset.css";

.introduction {
    height:100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro {
  height:150vh;
  background-image: url(./assets/img/Eunha.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: 0%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#startRewindBtn {
  color: rgb(204, 204, 204);
  background-color: rgba(0,0,0,0.5);
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
  transition: 1s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
i.start-icon{
  font-size: 15rem;
}
.unvisible {
  opacity: 0;
  visibility:collapse;
}
.projectheader {
  font-size: 8rem;
  color: pink;
  border-bottom: 8px solid pink;
  padding-bottom: 30px;
  margin-bottom: 100px
}
.projectinfo {
  font-size: 3rem;
  color: pink;
  margin-bottom:100px;
  text-align: center;
}
p {
  padding: 10px;

}
